body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

#logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto; /* Centra la imagen */
}

h1 {
    margin-top: 20px; 
}

main {
    text-align: center;
    padding: 20px;
}

button {
    background-color: #e44d26; /* Cambiado a un rojo más oscuro */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px auto; 
    font-size: 16px;
    cursor: pointer;
}
/* Estilos específicos para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
    button {
        padding: 10px 20px; 
        margin: 10px; 
    }
}

